/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 6 Jun, 2014, 9:54:38 PM
    Author     : sabyashiv
*/

body {margin:25px;font:12px Verdana, Arial, Helvetica}
* {padding:0; margin:0}
.dropdown_elements {float:right; padding-right:2px}
.dropdown_elements dt {width:188px; border:1px solid #9ac1c9; padding:8px; font-weight:bold; cursor:pointer; background:#d9e1e4}
.dropdown_elements dt:hover {background:#eaf0f2}
.dropdown_elements dd {position:absolute;  width:200px; display:none; background:#fff; z-index:200; opacity:0}
.dropdown_elements ul {width:204px; border:1px solid #9ac1c9; list-style:none; border-top:none;}
.dropdown_elements li {display:inline;cursor:pointer}
.dropdown_elements div {display:none;  padding-right:205px}
.dropdown_elements div dt {width:188px; border:1px solid #9ac1c9; padding:8px; font-weight:bold; cursor:pointer; background:#d9e1e4}
.dropdown_elements div dt:hover {background:#eaf0f2}
.dropdown_elements div dd {position:absolute; overflow:hidden; width:200px; display:none; background:#fff; z-index:200; opacity:0}
.dropdown_elements div ul {width:204px; border:1px solid #9ac1c9; list-style:none}
.dropdown_elements div li {display:inline;cursor:pointer}

.dropdown_elements div .separator {border-bottom:1px solid #b9d6dc}


.dropdown_elements .separator {border-bottom:1px solid #b9d6dc}




/*
.wire {float:right; padding-right:2px}
.wire dt {width:188px; border:1px solid #9ac1c9; padding:8px; font-weight:bold; cursor:pointer; background:#d9e1e4}
.wire dt:hover {background:#eaf0f2}
.wire dd {position:absolute; overflow:hidden; width:200px; display:none; background:#fff; z-index:200; opacity:0}
.wire ul {width:204px; border:1px solid #9ac1c9; list-style:none; border-top:none;}
.wire li {display:inline;cursor:pointer}
.wire a, .wire a:active, .wire a:visited {display:block; padding:5px; color:#333; text-decoration:none; background:#eaf0f2; width:194px}
.wire a:hover {background:#d9e1e4; color:#000}
.wire .separator {border-bottom:1px solid #b9d6dc}
*/

