/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 8, 2014, 6:39:55 PM
    Author     : yogesh
*/

#nav menu{
    float:left;
    margin-right:10px;
    position:relative;
    
}